<!DOCTYPE html>
<html>
  <head>
    <title>ODee Sports | Everything Is Energy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
   crossorigin="anonymous">
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:3000/">HOME<span class="sr-only">(current)</span></a></li>
                <li><a href="posts">POSTS</a></li>
                <li><a href="archive">ARCHIVE</a></li>
                <li><a href="contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>
  
      
    <h1>Welcome to <%= title %></h1>
    <p>“Hard work beats talent when talent doesn't work hard.”</p>


    <section class="guestArticle" width="50%">
        <div class="row">
            <div class="jumbotron">
              <h1>ODee Sports</h1>
              <a href="/posts" class="btn btn-primary">New Post</a>
              <a href="/contacts" class="btn btn-primary">Sign In</a>
    
            </div>
          </div>
          
      <div class="row">
         <div class="panel panel-default">
            <div class="panel-heading"><%= posts[posts.length-1].title %></div>
             <div class="panel-body">
                <div class="panel-body">
                    <%- posts[posts.length-1].content_2 %>
                  </div>
                  
                  <div class="panel-body">
                      <img src=<%= posts[posts.length-1].image_2 %>>
                  </div>
  
                  <div class="panel-body">
                    <%= posts[posts.length-1].date_time %>
                  </div>
  
                  <div class="panel-footer">
                    <%= posts[posts.length-1].author %>
                  </div>
  
                  <div>
                    <a href="/view/ <%= posts[posts.length-1].id%>"><button type="button">Read More</button></a>
                  </div>
             </div>
         </div>

         <div class="panel panel-default">
            <div class="panel-heading"><%= posts[posts.length-2].title %></div>
             <div class="panel-body">
               <div class="panel-body">
                          <%- posts[posts.length-2].content_2 %>
                        </div>

                        <div class="panel-body">
                          <img src=<%= posts[posts.length-2].image_2 %>>
                        </div>
        
                        <div class="panel-body">
                          <%= posts[posts.length-2].date_time %>
        
                        </div>
        
                        <div class="panel-footer">
                          <%= posts[posts.length-2].author %>
                        </div>
        
                        <div>
                          <a href="/view/ <%= posts[posts.length-2].id%>"><button type="button">Read More</button></a>
                        </div>
             </div>
         </div>

         <div class="panel panel-default">
            <div class="panel-heading"><%= posts[posts.length-3].title %></div>
             <div class="panel-body">
                <div class="panel-body">
                    <%- posts[posts.length-3].content_2 %>
                  </div>

                  <div class="panel-body">
                      <img src=<%= posts[posts.length-3].image_2 %> width="50%">
                  </div>
  
                  <div class="panel-body">
                    <%= posts[posts.length-3].date_time %>
  
                  </div>
  
                  <div class="panel-footer">
                    <%= posts[posts.length-3].author %>
                  </div>
  
                  <div>
                    <a href=/readMore/<%= posts[posts.length-3].id %>><button type="button">Read More</button></a>
                  </div>
             </div>
         </div>
     </div>

     
     
    </section>

   
  

    
  </body>
</html>
